# Importando dados do twitter em tempo real

- Vamos usar a biblioteca tweepy: <br>
    https://docs.tweepy.org/en/stable/

In [4]:
import tweepy as tw
import pandas as pd

In [5]:
bearer_token = ''
consumer_key = ''
consumer_secret = ''
access_token = ''
access_token_secret = ''

In [6]:
cliente = tw.Client(bearer_token=bearer_token, consumer_key=consumer_key, consumer_secret=consumer_secret, access_token=access_token, access_token_secret=access_token_secret)

In [10]:
start = '2022-02-01T19:39:01Z'
end = '2022-02-01T19:40:01Z'

In [12]:
resposta = cliente.search_recent_tweets(query='BBB',max_results=100,start_time=start,end_time=end)

In [15]:
dados = resposta.data

In [35]:
base = []

In [36]:
for i in dados:
    
    linha = [0 for j in range(22)]
    
    linha[0] = i.text
    
    texto = i.text
    
    if('RT' in texto):
        posicao = texto.find(':')
        texto = texto[posicao+2:]
        linha[21] = 1
        
    linha[1] = 1 if ('la√≠s caldas' in texto.lower() or 'lais caldas' in texto.lower() or 'la√≠s' in texto.lower() or 'lais' in texto.lower()) else 0
    linha[2] = 1 if ('luciano estavan' in texto.lower() or 'luciano' in texto.lower()) else 0
    linha[3] = 1 if ('jessilane alves' in texto.lower() or 'jessilane' in texto.lower()) else 0
    linha[4] = 1 if ('eliezer' in texto.lower()) else 0
    linha[5] = 1 if ('eslov√™nia marques' in texto.lower() or 'eslov√™nia' in texto.lower() or 'eslovenia marques' in texto.lower() or 'eslovenia' in texto.lower()) else 0
    linha[6] = 1 if ('lucas bissoli' in texto.lower() or 'lucas' in texto.lower()) else 0
    linha[7] = 1 if ('b√°rbara heck' in texto.lower() or 'b√°rbara' in texto.lower() or 'barbara heck' in texto.lower() or 'barbara' in texto.lower()) else 0
    linha[8] = 1 if ('arthur aguiar' in texto.lower() or 'arthur' in texto.lower()) else 0
    linha[9] = 1 if ('rodrigo' in texto.lower()) else 0
    linha[10] = 1 if ('nat√°lia' in texto.lower() or 'natalia' in texto.lower()) else 0
    linha[11] = 1 if ('vin√≠cius' in texto.lower() or 'vinicius' in texto.lower() or 'vyni' in texto.lower()) else 0
    linha[12] = 1 if ('pedro scooby' in texto.lower() or 'pedro' in texto.lower()) else 0
    linha[13] = 1 if ('brunna gon√ßalves' in texto.lower() or 'brunna' in texto.lower() or 'brunna goncalves' in texto.lower()) else 0
    linha[14] = 1 if ('paulo andr√©' in texto.lower() or 'paulo' in texto.lower() or 'paulo andre' in texto.lower()) else 0
    linha[15] = 1 if ('maria' in texto.lower()) else 0
    linha[16] = 1 if ('jade picon' in texto.lower() or 'jade' in texto.lower()) else 0
    linha[17] = 1 if ('douglas silva' in texto.lower() or 'douglas' in texto.lower()) else 0
    linha[18] = 1 if ('linn da quebrada' in texto.lower() or 'linn' in texto.lower()) else 0
    linha[19] = 1 if ('tiago abravanel' in texto.lower() or 'tiago' in texto.lower()) else 0
    linha[20] = 1 if ('naiara azevedo' in texto.lower() or 'naiara' in texto.lower()) else 0  
    
    base.append(linha)

In [39]:
baseBBB = pd.DataFrame(base)
baseBBB.columns = ['texto','lais','luciano','jessilane','eliezer','eslov√™nia','lucas','b√°rbara','arthur','rodrigo','nat√°lia','vin√≠cius','scooby','brunna','paulo','maria','jade','douglas','lina','tiago','naiara','RT']
display(baseBBB)

,texto,lais,luciano,jessilane,eliezer,eslov√™nia,lucas,b√°rbara,arthur,rodrigo,...,scooby,brunna,paulo,maria,jade,douglas,lina,tiago,naiara,RT
0,Valimiz BBB v @munirkaraloglu Diyarbakƒ±r‚Äôƒ±n ve...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"RT @AOC: Seniors, kids, &amp; people with disa...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,@jorgesuede escola manu Gavassi de bbb,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,üë®üèª ESQUENTA BBB! üë®üèª\n\nSigam todos que curtire...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,"RT @AOC: Seniors, kids, &amp; people with disa...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,RT @rafinhaaqui: @oficial_deodato pessoa negra...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
96,BBB22: Naiara Azevedo se irrita com Tiago Abra...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
97,"RT @AOC: Seniors, kids, &amp; people with disa...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
98,@rennanziemer @brizolarebelde Tem um video da ...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
99,"RT @AOC: Seniors, kids, &amp; people with disa...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [41]:
baseView = baseBBB.drop(['texto','RT'],axis=1)

In [48]:
comentarios = baseView.sum().sort_values(ascending=False).to_list()

In [49]:
participantes = baseView.sum().sort_values(ascending=False).index.to_list()

In [53]:
base2 = pd.DataFrame(zip(participantes,comentarios))
base2.columns = ['pessoas','comentarios']
display(base2)

      pessoas  comentarios
0        jade            7
1     rodrigo            4
2       maria            4
3    vin√≠cius            3
4       tiago            3
5       paulo            3
6      naiara            2
7     b√°rbara            2
8      arthur            1
9     nat√°lia            1
10     brunna            1
11    douglas            1
12       lina            1
13       lais            1
14    luciano            0
15     scooby            0
16      lucas            0
17  eslov√™nia            0
18    eliezer            0
19  jessilane            0

In [54]:
total_comentarios = base2['comentarios'].sum()

In [58]:
base2['perc'] = base2['comentarios']/total_comentarios
display(base2)

      pessoas  comentarios      perc
0        jade            7  0.205882
1     rodrigo            4  0.117647
2       maria            4  0.117647
3    vin√≠cius            3  0.088235
4       tiago            3  0.088235
5       paulo            3  0.088235
6      naiara            2  0.058824
7     b√°rbara            2  0.058824
8      arthur            1  0.029412
9     nat√°lia            1  0.029412
10     brunna            1  0.029412
11    douglas            1  0.029412
12       lina            1  0.029412
13       lais            1  0.029412
14    luciano            0  0.000000
15     scooby            0  0.000000
16      lucas            0  0.000000
17  eslov√™nia            0  0.000000
18    eliezer            0  0.000000
19  jessilane            0  0.000000

In [60]:
base2['perc_acum'] = base2['perc'].cumsum()
display(base2)

      pessoas  comentarios      perc  perc_acum
0        jade            7  0.205882   0.205882
1     rodrigo            4  0.117647   0.323529
2       maria            4  0.117647   0.441176
3    vin√≠cius            3  0.088235   0.529412
4       tiago            3  0.088235   0.617647
5       paulo            3  0.088235   0.705882
6      naiara            2  0.058824   0.764706
7     b√°rbara            2  0.058824   0.823529
8      arthur            1  0.029412   0.852941
9     nat√°lia            1  0.029412   0.882353
10     brunna            1  0.029412   0.911765
11    douglas            1  0.029412   0.941176
12       lina            1  0.029412   0.970588
13       lais            1  0.029412   1.000000
14    luciano            0  0.000000   1.000000
15     scooby            0  0.000000   1.000000
16      lucas            0  0.000000   1.000000
17  eslov√™nia            0  0.000000   1.000000
18    eliezer            0  0.000000   1.000000
19  jessilane            0  0.000000   1.000000

In [61]:
base2['perc_form'] = base2['perc'].map("{:.1%}".format)
base2['perc_acum_form'] = base2['perc_acum'].map("{:.1%}".format)
display(base2)

      pessoas  comentarios      perc  perc_acum perc_form perc_acum_form
0        jade            7  0.205882   0.205882     20.6%          20.6%
1     rodrigo            4  0.117647   0.323529     11.8%          32.4%
2       maria            4  0.117647   0.441176     11.8%          44.1%
3    vin√≠cius            3  0.088235   0.529412      8.8%          52.9%
4       tiago            3  0.088235   0.617647      8.8%          61.8%
5       paulo            3  0.088235   0.705882      8.8%          70.6%
6      naiara            2  0.058824   0.764706      5.9%          76.5%
7     b√°rbara            2  0.058824   0.823529      5.9%          82.4%
8      arthur            1  0.029412   0.852941      2.9%          85.3%
9     nat√°lia            1  0.029412   0.882353      2.9%          88.2%
10     brunna            1  0.029412   0.911765      2.9%          91.2%
11    douglas            1  0.029412   0.941176      2.9%          94.1%
12       lina            1  0.029412   0.970588      2.9%          97.1%
13       lais            1  0.029412   1.000000      2.9%         100.0%
14    luciano            0  0.000000   1.000000      0.0%         100.0%
15     scooby            0  0.000000   1.000000      0.0%         100.0%
16      lucas            0  0.000000   1.000000      0.0%         100.0%
17  eslov√™nia            0  0.000000   1.000000      0.0%         100.0%
18    eliezer            0  0.000000   1.000000      0.0%         100.0%
19  jessilane            0  0.000000   1.000000      0.0%         100.0%

In [62]:
display(base2[['pessoas','comentarios','perc_form','perc_acum_form']])

      pessoas  comentarios perc_form perc_acum_form
0        jade            7     20.6%          20.6%
1     rodrigo            4     11.8%          32.4%
2       maria            4     11.8%          44.1%
3    vin√≠cius            3      8.8%          52.9%
4       tiago            3      8.8%          61.8%
5       paulo            3      8.8%          70.6%
6      naiara            2      5.9%          76.5%
7     b√°rbara            2      5.9%          82.4%
8      arthur            1      2.9%          85.3%
9     nat√°lia            1      2.9%          88.2%
10     brunna            1      2.9%          91.2%
11    douglas            1      2.9%          94.1%
12       lina            1      2.9%          97.1%
13       lais            1      2.9%         100.0%
14    luciano            0      0.0%         100.0%
15     scooby            0      0.0%         100.0%
16      lucas            0      0.0%         100.0%
17  eslov√™nia            0      0.0%         100.0%
18    eliezer            0      0.0%         100.0%
19  jessilane            0      0.0%         100.0%